<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginHandlar</display-name>
    <servlet-name>LoginHandlar</servlet-name>
    <servlet-class>LoginHandlar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandlar</servlet-name>
    <url-pattern>/LoginHandlar</url-pattern>
  </servlet-mapping>
  <display-name>MyLoginLogoutWithJSP</display-name>
  <welcome-file-list>
   <welcome-file>Homepage.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>com.project.servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHandler</display-name>
    <servlet-name>UserHandler</servlet-name>
    <servlet-class>com.project.servlet.UserHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHandler</servlet-name>
    <url-pattern>/UserHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.project.servlet.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentHandler</display-name>
    <servlet-name>RentHandler</servlet-name>
    <servlet-class>com.project.servlet.RentHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentHandler</servlet-name>
    <url-pattern>/RentHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentalDao</display-name>
    <servlet-name>RentalDao</servlet-name>
    <servlet-class>com.project.dao.RentalDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalDao</servlet-name>
    <url-pattern>/RentalDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfrimationHandler</display-name>
    <servlet-name>ConfrimationHandler</servlet-name>
    <servlet-class>com.project.servlet.ConfrimationHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfrimationHandler</servlet-name>
    <url-pattern>/ConfrimationHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.project.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>